In [1]:
import os
import pandas as pd

In [2]:
# Import Files
genfile = "../rawData/EIA_generation_by_state.xls"
emissfile = "../rawData/EIA_emissions_by_state.xls"
greenhousefile = "../rawData/ghgp_data_by_year.xls"

In [3]:
# Format into pandas DF
generationXls = pd.ExcelFile(genfile)
emissfileXls = pd.ExcelFile(emissfile)
greenhouseXls = pd.ExcelFile(greenhousefile)

generation_df = generationXls.parse('Net_Generation_1990-2019 Final',skiprows=1,header=0)
emissions_df = emissfileXls.parse('State Emissions',header=0)
greenhouse_df = greenhouseXls.parse('Direct Emitters',skiprows=3,header=0)

In [4]:
# Check if parsed correctly
#generation_df.columns
#emissions_df.head()
#greenhouse_df.head()           
#greenhouse_df.columns

In [6]:
#Format columns & clean data
generation_df.columns= ['year','state','producer type','energy source','generation(mwH)']
generation_df = generation_df.replace({'state':{'US-Total':'US', 'US-TOTAL': 'US'},
                                       'energy source':{'All Sources':'Total'}})
# generation_df.head()

emissions_df.columns = ['year','state','producer type','energy source','CO2 (MT)','SO2 (MT)','NOx (MT)']
emissions_df = emissions_df.replace({'state':{'US-Total':'US','US-TOTAL':'US'},
                                     'energy source':{'All Sources':'Total'}})
# emissions_df.head()

greenhouse_df.columns = ['facility id','frs id','facility name','city','state','zip','address','county','latitude','longitude',
                         'naics code','industry type (subpart)','industry type (sectors)',
                         '2019 Total Emissions','2018 Total Emissions','2017 Total Emissions','2016 Total Emissions','2015 Total Emissions',
                         '2014 Total Emissions','2013 Total Emissions','2012 Total Emissions','2011 Total Emissions']

#greenhouse_df.head()

,facility id,frs id,facility name,city,state,zip,address,county,latitude,longitude,...,industry type (sectors),2019 Total Emissions,2018 Total Emissions,2017 Total Emissions,2016 Total Emissions,2015 Total Emissions,2014 Total Emissions,2013 Total Emissions,2012 Total Emissions,2011 Total Emissions
0,1004377,1.100438e+11,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,33.298570,-96.535860,...,Waste,518680.250,653854.000,250497.500,221014.750,199011.750,241883.50,289953.25,204000.000,194000.000
1,1010040,1.100701e+11,15-18565/15-18662,Hazard,KY,40701,4200 S. Hwy 15,PERRY COUNTY,37.219099,-83.156046,...,Other,NaN,125981.750,218699.250,141439.500,118204.500,225708.25,306680.75,348450.750,390393.500
2,1010085,1.100555e+11,15-19015,Hazard,KY,41701,1845 S. KY HWY 15,PERRY COUNTY,37.236617,-83.181260,...,Other,NaN,93918.750,70265.000,35907.000,55872.500,68761.00,57767.00,41513.000,64664.500
3,1012147,1.100701e+11,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,93251,22845 Highway 33,NaN,35.318187,-119.633884,...,"Natural Gas and Natural Gas Liquids Suppliers,...",NaN,3564.138,9298.916,10208.062,NaN,NaN,NaN,NaN,NaN
4,1000112,1.100198e+11,23rd and 3rd,BROOKLYN,NY,11232,730 3rd Avenue,Kings,40.663000,-74.000000,...,Power Plants,44658.384,70705.288,52698.656,66797.352,67399.252,40722.20,102599.22,68984.744,100591.828