In [1]:
import pandas as pd
import psycopg2
import psycopg2.extras
import os

from sqlalchemy import create_engine
from sqlalchemy.orm import session
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Setup Engine
engine = create_engine('postgresql://postgres:password@localhost:5432/project2_energy')

In [3]:
#CLEANUP
engine.execute('TRUNCATE TABLE state_greenhouse_emissions;')

engine.execute('ALTER TABLE state_greenhouse_emissions DROP CONSTRAINT fk_state_greenhouse_emissions_state;')

engine.execute('TRUNCATE TABLE state;')

engine.execute('ALTER TABLE state_greenhouse_emissions ADD CONSTRAINT fk_state_greenhouse_emissions_state FOREIGN KEY (state) REFERENCES state (state);')

In [4]:
engine.execute("SELECT * FROM state;").fetchall()

[]

In [5]:
state_file = os.path.join("..", "cleanData", "state.csv")
state_df = pd.read_csv(state_file)

In [6]:
state_df.head()

  state  state_name
0    AK      Alaska
1    AL     Alabama
2    AR    Arkansas
3    AZ     Arizona
4    CA  California

In [7]:
#Fetching data
state_df.to_sql('state', con=engine, if_exists='append',index=False)

engine.execute("SELECT * FROM state LIMIT 10").fetchall()

[('AK', 'Alaska'),
 ('AL', 'Alabama'),
 ('AR', 'Arkansas'),
 ('AZ', 'Arizona'),
 ('CA', 'California'),
 ('CO', 'Colorado'),
 ('CT', 'Connecticut'),
 ('DE', 'Delaware'),
 ('FL', 'Florida'),
 ('GA', 'Georgia')]

In [8]:
#GREENHOUSE EMISSIONS
state_greenhouse_emissions_file = os.path.join("..","cleanData","greenhouse_by_state.csv")
state_greenhouse_emissions_df = pd.read_csv(state_greenhouse_emissions_file)

In [9]:
state_greenhouse_emissions_df = state_greenhouse_emissions_df.rename(columns={'greenhouse emissions': 'greenhouse_emissions'})
state_greenhouse_emissions_df.head()

  state  year  greenhouse_emissions
0    AK  2019           3061629.318
1    AK  2018           2986767.776
2    AK  2017           3084471.884
3    AK  2016           3028203.670
4    AK  2015           3331015.628

In [10]:
#Fetching data
state_greenhouse_emissions_df.to_sql('state_greenhouse_emissions', con=engine, if_exists='append', index=False)

engine.execute("SELECT * FROM state_greenhouse_emissions LIMIT 10").fetchall()

[('AK', 2019, 3061629.318),
 ('AK', 2018, 2986767.776),
 ('AK', 2017, 3084471.8839999996),
 ('AK', 2016, 3028203.67),
 ('AK', 2015, 3331015.628),
 ('AK', 2014, 3244965.564),
 ('AK', 2013, 3411938.3880000003),
 ('AK', 2012, 3818412.528),
 ('AK', 2011, 3815045.0960000004),
 ('AL', 2019, 44025944.74)]